.test{
    // background-color: black;
    // color : blue;
    color : whitesmoke;
    background-image: url("../images/bg.jpg");
}

.searchText{
    width: 400px;
    margin: auto;
}


.chartContent{
    width: 50%;
    //height: 800px;
    //margin : auto;
}